<% layout("/layouts/boilerPlate") %>
<body>
    <div class="row mt-3">
        <div class="col-8 offset-3">
            <h3>Listings Details</h3>
        </div>
        <div class="card col-6 offset-3 listing-card">
            <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="listing_image">
            <div class="card-body">
                <p class="card-text"><b>Owned by <u><i><%= listing.owner.username %></i></u></b></p>
              <p class="card-text"><b><%= listing.title %></b></p>
            </div>
            <ul>
                <li>Title : </Title><%= listing.title %></li>
                <li>Description : <%= listing.description %></li>
                <li>Price : &#8377;<%= listing.price.toLocaleString("en-in") %></li>
                <li>Location : <%= listing.location %></li>
                <li>Country : <%= listing.country %></li>
            </ul>
            <% if(currUser && listing.owner._id.equals(currUser._id)) { %>
            <div class="btns">

                <a href="/listings/<%=listing._id%>/edit" class="btn btn-dark edit-button">Edit</a>
                <br/>
                <form method="post" action="/listings/<%= listing._id %>/?_method=DELETE">
                    <button class="btn btn-dark del-btn">Delete</button>
                </form>        
            </div>
           <% } %> <% if(currUser) { %>
            <div class="col-8 offset-3 mb-3">
                <hr/>
                <h4>Leave a Review</h4>
                <form method="post" action="/listings/<%= listing.id %>/reviews" novalidate class="needs-validation">
                    <!-- <div class="mb-3 mt-3">
                        <label for="rating" class="form-label">Rating</label>
                        <input type="range" class="form-range" min="1" max="5" id="rating" name="reviewSchema[rating]" >
                    </div> -->
                    <div class="mb-3 mt-3">
                        <!-- starability code!!! source from github -->
                        <fieldset class="starability-slot">
                            <legend>First rating:</legend>
                            <input type="radio" id="no-rate" class="input-no-rate" name="reviewSchema[rating]" value="1" checked aria-label="No rating." />
                            <input type="radio" id="first-rate1" name="reviewSchema[rating]" value="1" />
                            <label for="first-rate1" title="Terrible">1 star</label>
                            <input type="radio" id="first-rate2" name="reviewSchema[rating]" value="2" />
                            <label for="first-rate2" title="Not good">2 stars</label>
                            <input type="radio" id="first-rate3" name="reviewSchema[rating]" value="3" />
                            <label for="first-rate3" title="Average">3 stars</label>
                            <input type="radio" id="first-rate4" name="reviewSchema[rating]" value="4" />
                            <label for="first-rate4" title="Very good">4 stars</label>
                            <input type="radio" id="first-rate5" name="reviewSchema[rating]" value="5" />
                            <label for="first-rate5" title="Amazing">5 stars</label>
                        </fieldset>
                    </div>
                    <div class="mb-3 mt-3">
                        <label for="comment" class="form-label">Comments</label>
                        <textarea name="reviewSchema[comment]" id="comment" cols="40" rows="5" class="form-control" required></textarea>
                        <div class="invalid-feedback">Please Submit some comments for review</div>
                    </div>
                    <br/>
                    <button class="btn btn-dark del-btn">Submit</button>
                </form>
                <hr/>
                <p><b>All Reviews</b></p>
                <% } %>
                <div class="row">
                    <% for(Review of listing.reviews) { %>
                        <div class="card col-5 ms-3 mb-3">
                            <div class="card-body"> 
                                <h5 class="card-title"><%= Review.author.username %></h5>
                                <p class="starability-result card-text" data-rating="<%= Review.rating %>">
                                    Rated: 3 stars
                                </p>
                                <p class="card-text"><%= Review.comment %></p>
                                <!-- <p class="card-text"><%= Review.rating %></p> -->
                            </div>
                            <form class="mb-3" method="post" action="/listings/<%= listing._id %>/reviews/<%= Review._id %>?_method=DELETE">
                                <button class="btn btn-sm btn-dark del-btn">Delete</button>
                            </form>
                        </div>
                   <% } %>
                </div>
           
            </div>
        </div>
    </div>
</body>
